// Specific CSS for your home-page

body {
  background-color: #0a0a0a;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

h1 {
  color: #fff;
  opacity: 1;
  text-align: center;
}

.cocktails-list {
  padding: 10px;
}

.btn-primary {
  background-color: #ff28a5;
  border-color: #ff28a5;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    background-color: #ff28a5;
  }
}


