.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 70px;
  font-family: 'Pacifico', cursive;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 22px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-bottom: 30px;
}

.banner-content .btn-primary {
  background-color: #ff28a5;
  border-color: #ff28a5;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}
